Repository opensearch-project/opensearch-protobufs, pull requests merged in 2025-04, with the labels that each got.

#43 Add release drafter action and jenkins workflow in preparation for 0.1.0 maven release
  .github/workflows/release-drafter.yml
  CHANGELOG.md
  build.gradle
  jenkins/release.jenkinsFile
  version.properties
Labels: release, infrastructure

#47 Add missing jar build step before release publish
  .github/workflows/release-drafter.yml
  CHANGELOG.md
Labels: enhancement, release, infrastructure

#62 Add auto remove workflow for auto-pr-branch
  .github/workflows/convert-proto.yml
  .github/workflows/remove-pr-branch.yml
  CHANGELOG.md
Labels: enhancement, release, infrastructure

#63 Add missing == in auto remove branch workflow
  .github/workflows/remove-pr-branch.yml
Labels: enhancement, infrastructure, skip-changelog

#67 Add missing 'meta_fields' field and fix type of 'sort' in search protos
  protos/schemas/common.proto
  protos/schemas/search.proto
Labels: skip-changelog

#68 remove extra ExplanationDetails
  protos/schemas/search.proto
Labels: bug, skip-changelog

#71 Bump version to 0.3.0 after release
  CHANGELOG.md
  release-notes/opensearch-protobufs.release-notes-0.2.0.md
  version.properties
Labels: skip-changelog

#86 Update release notes and version.properties after 0.3.0 release
  CHANGELOG.md
  RELEASING.md
  release-notes/opensearch-protobufs.release-notes-0.3.0.md
  version.properties
Labels: skip-changelog
